{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<h1>
    <a style ="text-align: center; color:black"; id ="frm" class ="navbar-brand" href="/post/new/"> Post form </a>
</h1>

<!-- <div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for new/favorite pitches" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-info">
    </form>

</div> -->

<div class="row">
        <div class="col-md-12">
            <div class="card card-image">
              <img src="../static/css/photos/tropical.jpg">
            </div>
        </div>
     </div>


   

</div>



  </div>
    </div>
    {% for posts in post%}
    <div class="row">
    <div class="col-md-12">
      <div class="thumbnail text-center">
     <h2>{{posts.description}}</h2>
      <h5 class="card-header">{{posts.content}}</h5>
      <div class="card-body">
      
        
        <a href="{{url_for('main.new_comment', id = posts.id)}}" class="btn btn-info">Comment <span>{{posts.comments.count()}}</span></a>
        <a href="{{url_for('main.new_comment', id = posts.id)}}" class="glyphicon glyphicon-comment" style="margin:10px;color: #e5d429"></a>

          {% endfor %}
         
          
  </div>
  </div>

  



{% endblock%}