<!-- {% macro displayQuotes(quotes) %}
    {% for quote in quotes %}
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
            <a href="{{quotes.url}}" target="_blank">
                  <p> {{quotes.id}}" </p>
                  </a>
                  <div class="caption">
                    <h4><a href="{{quotes.url}}" target="_blank">{{quotes.author |truncate(35)}}</a></h4>
                    <p>{{quotes.quote | truncate(80)}}</p>
                    <!-- <a href="{{article.url}}" target="_blank"> Read More</a> -->
                    
                  </div>
                
              </div>
         </div>

        
     </div>
         
    {% endfor %}

{% endmacro %}
 -->







